# Dependencies
node_modules/
pnpm-lock.yaml
yarn.lock

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Builds
dist/
build/
coverage/

# Env
.env
.env.*
!.env.example

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# SQLite
*.sqlite
*.sqlite-journal
*.sqlite-wal
*.sqlite-shm
*.db
apps/api/var/
apps/api/apps/api/var/
apps/api/benchmark.db